pandas==1.5.3
numpy>=1.26,<2.0
scikit-learn>=1.7.2
xgboost==1.7.6
matplotlib==3.7.2
seaborn==0.12.2
jupyter==1.0.0
streamlit==1.25.0
gdown==4.7.1
plotly==6.3.0
optuna==4.5.0
joblib==1.5.2
shap==0.48.0
imblearn
lightgbm==4.6.0
boruta==0.4.3
reportlab==4.4.4
openpyxl==3.1.2